<section class="dashboard-header">
  <div class="container-fluid  mt-3 mt-sm-4 px-1 px-md-5">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div id="ordenarS" class="card-header d-flex justify-content-between">
            <h5><a class="text-dark2">Lista de pedidos por aprobar</a></h5>
          </div>
          <div class="text-center my-3" *ngIf="spinnerOnOff">
            <div class="d-flex justify-content-center">
              <mat-spinner color="accent"></mat-spinner>
            </div>
          </div>
          <div *ngIf="listOrdenesMostrar!=null">
            <div class="table-responsive" style="border: 1px solid #dddddd; padding-top: 2px;">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th>#</th>
                    <th>Área</th>
                    <th>Secuencial</th>
                    <th>Fecha Registro</th>
                    <th>Proveedor</th>
                    <th>Descripción</th>
                    <th>Usuario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="listOrdenesMostrar.length==0">
                    <td class="font-italic text-center" colspan="8">
                      No existen pedidos disponibles para aprobar
                    </td>
                  </tr>
                  <tr
                    *ngFor="let dato of listOrdenesMostrar; let indice=index"
                    [ngClass]="{'filaPar':(((indice+1)%2)==0)}">
                    <td class="indice">{{indice+1}}</td>
                    <td>{{dato.area}}</td>
                    <td class="text-center">{{dato.strNumSecuencial}}</td>
                    <td>{{dato.fechaPedido}}</td>
                    <td>{{dato.proveedor}}</td>
                    <td>
                      <div *ngFor="let datoItems of dato.listArticulosPedido; let indice2=index">
                        <ul id="utilitarioI" class="d-flex">
                          <div *ngIf="datoItems.contenidoNeto==1" class="mr-2">{{datoItems.cantidad}}</div>
                          <div *ngIf="datoItems.contenidoNeto!=1" class="mr-2">
                            {{datoItems.cantidad*datoItems.inventario.contenidoNeto | number:'1.0-0'}}</div>
                          {{datoItems.inventario.nombre}} || Area: {{datoItems.destinoArea}}
                        </ul>
                      </div>
                    </td>
                    <td>{{dato.cargoUser}}</td>
                    <td class="text-center" id="utilitarioI">
                      <a class="badge text-primario" matTooltip="Te permite aprobar la orden seleccionada"
                        matTooltipPosition="left" matTooltipClass="tooltipBlack" (click)="onSave(dato,1)">
                        <fa-icon [icon]="facheck" size="2x"></fa-icon>
                      </a>
                      <a class="badge text-primario" matTooltip="Te permite rechazar la orden seleccionada"
                        matTooltipPosition="left" matTooltipClass="tooltipBlack" (click)="onSave(dato,2)">
                        <fa-icon [icon]="fatimes" size="2x"></fa-icon>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
