<mat-dialog-content id="ModalFix">
  <div class="jumtron" *ngIf="ordenPedidoService.formData!=null">
    <div class="row justify-content-center">
      <div id="contPrint1" class="col-12">
        <h1 class="display-4 text-center">Orden de Pedido # {{ordenPedidoService.formData.strNumSecuencial}}</h1>
      </div>
    </div>
  </div>
  <form #formOrden="ngForm" autocomplete="off" (submit)="onSubmit(formOrden)">
    <div class="bodyCard" *ngIf="ordenPedidoService.formData">
      <div class="row mt-3">
        <div class="col-12 col-md-8">
          <h4 class="text-center">Datos del Pedido</h4>
        </div>
        <div class="col-12 col-md-4">
          <input class="form-control" type="datetime-local" name="fechaRegistro" #fechaRegistro="ngModel"
            [(ngModel)]="ordenPedidoService.formData.fechaPedido" (ngModelChange)="okFormChange=true" min="2022-01-01">
        </div>
      </div>
      <div class="row boxForm mt-2">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="form-group" id="selectProveedor">
            <div class="title ml-2 ml-md-3">
              <strong>Proveedor: </strong>
            </div>
            <div id="inputSearchP">
              <div class="wrapper">
                <div class="limit-width">
                  <input name="ProveedorIn" #ProveedorIn="ngModel" [(ngModel)]="ordenPedidoService.formData.proveedor"
                    (ngModelChange)="onBListProgProveedor($event?.toUpperCase())" maxlength="100"
                    placeholder="Nombre del proveedor" class="form-control input-src" [disabled]="ordenPedidoService.formData.boolProveedor"
                    [ngClass]="{'loading':ordenPedidoService.formData.spinnerLoading}" required>
                  <div class="results" *ngIf="ordenPedidoService.formData.showSearchSelect">
                    <ul>
                      <li *ngFor="let data of listProveedoresFiltros$ | async">
                        <a (click)="onChooseProveedor(data)" class="name">{{data.proveedor}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="form-group">
            <div class="title ml-2 ml-md-3">
              <strong>Tipo Pedido:</strong>
            </div>
            <div id="inputSearchP">
              <div class="wrapper">
                <div class="limit-width">
                  <select class="form-control input-src" name="inSelectTipoPedido" #inSelectTipoPedido="ngModel"
                    [(ngModel)]="ordenPedidoService.formData.tipoPedido" required (ngModelChange)="okFormChange=true">
                    <option *ngIf="ordenPedidoService.formData.planta=='FLOTA'" value="Consumo">Consumo
                      Muelle</option>
                    <option *ngIf="ordenPedidoService.formData.planta=='FLOTA'" value="Faena Marítima">Faena
                      Marítima</option>
                    <option *ngIf="ordenPedidoService.formData.planta=='FLOTA'" value="Bodega Muella">Bodega
                      Muelle</option>
                    <option *ngIf="ordenPedidoService.formData.planta=='FLOTA'" value="Veda">Veda</option>
                    <option
                    *ngIf="ordenPedidoService.formData.planta=='FLOTA'||ordenPedidoService.formData.planta=='P OFICINAS'"
                    value="Servicios Profesionales">Servicios Profesionales</option>
                  <option
                    *ngIf="ordenPedidoService.formData.planta=='P MANACRIPEX'||ordenPedidoService.formData.planta=='P OFICINAS'"
                    value="Orden de Compra">Orden Compra</option>
                  <option
                    *ngIf="ordenPedidoService.formData.planta=='P MANACRIPEX'||ordenPedidoService.formData.planta=='P OFICINAS'"
                    value="Orden de Trabajo">
                    Orden Trabajo</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="form-group">
            <div class="title ml-2 ml-md-3">
              <strong>Empresa:</strong>
            </div>
            <div id="inputSearchP">
              <div class="wrapper">
                <div class="limit-width">
                  <select class="form-control input-src" name="inSelectEmpresa" #inSelectEmpresa="ngModel"
                    [(ngModel)]="ordenPedidoService.formData.empresa" required>
                    <option selected disabled value="SIN ASIGNAR">-Seleccionar-</option>
                    <option value="B&B TUNE">B&B TUNE</option>
                    <option value="DANIEL BUEHS">DANIEL BUEHS</option>
                    <option value="MANACRIPEX">MANACRIPEX</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="form-group">
            <div class="title ml-2 ml-md-3">
              <strong>{{ordenPedidoService.formData.planta=="P MANACRIPEX"?"Área":"Barco"}}:</strong>
            </div>
            <div id="inputSearchP">
              <div class="wrapper">
                <div class="limit-width">
                  <select class="form-control input-src" name="inSelectBarco" #inSelectBarco="ngModel"
                    [(ngModel)]="ordenPedidoService.formData.area" required>
                    <option selected disabled value="SIN ASIGNAR">-Seleccionar-</option>
                    <option *ngFor="let datoBarco of listBarcos |filtrarBarcosEmpresa:ordenPedidoService.formData.empresa" value="{{datoBarco.nombreBodega}}">
                      {{datoBarco.nombreBodega}}</option>
                      <option *ngIf="ordenPedidoService.formData.planta=='P MANACRIPEX'&& ordenPedidoService.formData.empresa=='MANACRIPEX'" value="P MANACRIPEX">P MANACRIPEX</option>
                      <option *ngIf="ordenPedidoService.formData.planta=='P OFICINAS'" value="P OFICINAS">OFICINAS</option>
                    </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <div class="title ml-2 ml-md-3">
              <strong>Justificación:</strong>
            </div>
            <div id="inputSearchP">
              <div class="wrapper">
                <div class="limit-width">
                  <textarea name="justificacion" #justificacion="ngModel" required
                    [(ngModel)]="ordenPedidoService.formData.justificacion" (ngModelChange)="okFormChange=true"
                    class="form-control" placeholder="Descipción general sobre la orden del pedido"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header boxForm d-flex justify-content-between">
              <h5 class="text-dark2" style="padding-top: 9px;">Lista de Material</h5>
            </div>
            <div class="table-responsive" style="border: 1px solid #dddddd; padding-top: 2px; height: 100%;">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col" style="width:45%;">Material</th>
                    <th scope="col" style="width:10%;">Cantidad</th>
                    <th scope="col" style="width:25%;">Observación</th>
                    <th scope="col" style="width:15%;">Área</th>
                    <th scope="col" style="width:5%;"></th>
                  </tr>
                </thead>
                <tbody *ngIf="ordenPedidoService.formData.listArticulosPedido.length>0">
                  <tr *ngFor="let datoListP of ordenPedidoService.formData.listArticulosPedido; let indiceNewP=index" [ngClass]="{'filaPar':(((indiceNewP+1)%2)==0)}">
                    <td id="inputSearchP">
                      <div class="row">
                        <div class="col" style="padding-left: 0.5px; padding-right:0.5px;">
                          <div class="wrapper">
                            <div class="limit-width">
                              <input name="in{{indiceNewP}}codigoProducto" #in{{indiceNewP}}codigoProducto="ngModel"
                                [(ngModel)]="ordenPedidoService.formData.listArticulosPedido[indiceNewP].inventario.codigo"
                                (ngModelChange)="onListProducto(indiceNewP,1,$event?.toUpperCase())"
                                placeholder="Código Material" class="form-control input-src"
                                [ngClass]="{'loading':datoListP.spinnerLoading==1}"
                                [disabled]="datoListP.inventario.disBttnInput==2|| !datoListP.marcar" required>
                              <div class="results" style="position:relative;"
                                *ngIf="datoListP.showSearchSelect==1 && listProductosIn.length>0">
                                <ul>
                                  <li
                                    *ngFor="let data of listProductosIn | searchMaterial:'codigo':ordenPedidoService.formData.listArticulosPedido[indiceNewP].inventario.codigo">
                                    <a (click)="onChooseElemente(indiceNewP,1,data)" class="name">{{data.codigo}}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col" style="padding-left: 0.5px; padding-right:0.5px;">
                          <div class="wrapper">
                            <div class="limit-width">
                              <input name="in{{indiceNewP}}nombreProducto" #in{{indiceNewP}}nombreProducto="ngModel"
                                [(ngModel)]="ordenPedidoService.formData.listArticulosPedido[indiceNewP].inventario.nombre"
                                (ngModelChange)="onListProducto(indiceNewP,2,$event?.toUpperCase())"
                                placeholder="Nombre Material" class="form-control input-src"
                                [ngClass]="{'loading':datoListP.spinnerLoading==1}"
                                [disabled]="datoListP.inventario.disBttnInput==1 || !datoListP.marcar" required>
                              <div class="results" style="position:relative;"
                                *ngIf="datoListP.showSearchSelect==2 && listProductosIn.length>0">
                                <ul>
                                  <li
                                    *ngFor="let data of listProductosIn | searchMaterial:'nombre':ordenPedidoService.formData.listArticulosPedido[indiceNewP].inventario.nombre">
                                    <a (click)="onChooseElemente(indiceNewP,2,data)" class="name">{{data.nombre}}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td id="inputSearchP">
                      <div class="input-group">
                        <input name="in{{indiceNewP}}cantidad" type="number" min="0" maxlength="5" placeholder="#"
                          class="form-control input-src"
                          onkeydown="return (event.keyCode !== 69 && event.keyCode !==109 && event.keyCode !==107 && (this.value.length<=9 || event.keyCode==8 || event.keyCode==37 || event.keyCode==39))"
                          pattern="^[0-9]{0,12}([.][0-9]{1,3})?$" #in{{indiceNewP}}cantidad="ngModel" required
                          [(ngModel)]="ordenPedidoService.formData.listArticulosPedido[indiceNewP].cantidad"(ngModelChange)="okFormChange=true">
                      </div>
                    </td>
                    <td id="inputSearchP">
                      <div class="row">
                        <div class="col-10" style="padding-left: 0.5px; padding-right:0.5px;">
                          <div class="wrapper">
                            <div class="limit-width">
                              <textarea name="in{{indiceNewP}}observacion" #in{{indiceNewP}}observacion="ngModel" (ngModelChange)="okFormChange=true"
                              [(ngModel)]="ordenPedidoService.formData.listArticulosPedido[indiceNewP].observacion"
                              class="form-control input-src" maxlength="300" placeholder="Ingrese su observación"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col" style="padding-left: 0.5px; padding-right:0.5px;">
                          <div class="wrapper">
                            <div class="limit-width">
                              <mat-checkbox class="ml-3" color="primary"
                                id="in{{indiceNewP}}aviso" [disabled]="ordenPedidoService.formData.listArticulosPedido[indiceNewP].observacion==''"
                                name="in{{indiceNewP}}aviso"
                                #in{{indiceNewP}}aviso="ngModel"
                                [(ngModel)]="ordenPedidoService.formData.listArticulosPedido[indiceNewP].aviso">
                              </mat-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td id="inputSearchP" *ngIf="ordenPedidoService.formData.area!= 'P MANACRIPEX'">
                      <select class="form-control input-src" name="in{{indiceNewP}}area"
                        #in{{indiceNewP}}area="ngModel"
                        [(ngModel)]="ordenPedidoService.formData.listArticulosPedido[indiceNewP].destinoArea"
                        (ngModelChange)="okFormChange=true"  required>
                        <option selected disabled value="SIN ASIGNAR">-Seleccionar-</option>
                        <option *ngFor="let datoArea of listBarcos |filtrarBodega:ordenPedidoService.formData.area" value="{{datoArea.nombreArea}}">
                          {{datoArea.nombreArea}}</option>
                      </select>
                    </td>
                    <td id="inputSearchP" *ngIf="ordenPedidoService.formData.planta=='P MANACRIPEX' && ordenPedidoService.formData.area== 'P MANACRIPEX'">
                      <select class="form-control input-src" name="in{{indiceNewP}}area"
                        #in{{indiceNewP}}area="ngModel"
                        [(ngModel)]="ordenPedidoService.formData.listArticulosPedido[indiceNewP].destinoArea"
                        (ngModelChange)="okFormChange=true" required>
                        <option selected disabled value="SIN ASIGNAR">-Seleccionar-</option>
                        <option *ngFor="let datoArea of listAreas" value="{{datoArea.nombreBodega}}">
                          {{datoArea.nombreBodega}}</option>
                      </select>
                    </td>
                    <td class="justify-content-center" id="utilitarioI">
                      <a class="badge text-primario d-block" matTooltip="Sacar de lista" matTooltipPosition="below"
                        (click)="onRemoveNewR(indiceNewP)">
                        <fa-icon [icon]="fatimes" size="3x"></fa-icon>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="ordenPedidoService.formData.listArticulosPedido.length>0">
                  <tr>
                    <td colspan="4"></td>
                    <td>
                      <a [routerLink] (click)="onNewItem()" class="btn btnNewRedondo"
                        [ngClass]="{'bttn-Error':!okAddNewBotton }"
                        matTooltip="No se puede añadir material si existen campos vacios" matTooltipPosition="left"
                        matTooltipClass="tooltipRed" [matTooltipDisabled]="okAddNewBotton">
                        <fa-icon [icon]="faplus"></fa-icon>
                      </a>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row boxForm mt-2 justify-content-center">
        <div class="col-12 col-sm-6 mb-1 mb-sm-0">
          <a [routerLink] class="btn bttn-Primario btn-block" (click)="onEliminar()"> Anular Pedido</a>
        </div>
        <div class="col-12 col-sm-6">
          <button class="btn bttn-Primario btn-block " type="submit" [disabled]="formOrden.invalid || !okFormChange">
            <fa-icon [icon]="fasave"></fa-icon> Guardar
          </button>
        </div>
        </div>
        <div class="row boxForm mt-2 justify-content-center">
          <div class="col-12 col-sm-6 mb-1 mb-sm-0">
            <a [routerLink] class="btn bttn-Primario btn-block" (click)="onConvertPdf(ordenPedidoService.formData)">
              <fa-icon [icon]="faprint"></fa-icon> Descargar PDF
            </a>
          </div>
        <div class="col-12 col-sm-6">
          <a [routerLink] class="btn bttn-Primario btn-block" (click)="onExit()"> Salir</a>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
