<div [ngClass]="{'page':conexcionService.UserR.rolAsignado!='gpv-o'}" *ngIf="conexcionService.UserR!=null">
  <div *ngIf="conexcionService.UserR.rolAsignado!='gpv-o'">
    <nav class="navbar" *ngIf="conexcionService.UserR.rolAsignado!=null ">
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
          <div>
            <a [routerLink]='["/OrdenGuardia"]' class="navbar-brand">
              <div class="brand-text">
                <span>Grupo</span><strong class=""> Buehs</strong>
              </div>
            </a>
          </div>
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
            <li><a class="nav-link disabled"> <span
                  class="d-none d-sm-inline-block mr-1">O{{conexcionService.formData.connectionStatus}}</span>
                <fa-icon [icon]="facircle"
                  [ngClass]="{'iconOnline':conexcionService.formData.connectionStatus==='nline', 'iconOffline':conexcionService.formData.connectionStatus!=='nline' }">
                </fa-icon>
              </a>
            </li>
            <li><a class="nav-link disabled"> <span class="d-none d-sm-inline-block mr-1"><strong>User:</strong>
                  {{conexcionService.UserR.UserName}}</span>
              </a>
            </li>
            <li>
              <a class="nav-link" (click)="logOut()"> <span class="mr-1">Salir</span>
                <fa-icon [icon]="fasignOut"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      *ngIf="conexcionService.formData.connectionStatus === 'nline' && conexcionService.formData.connectionStatusMessage !==''"
      class="online">
      <span>{{conexcionService.formData.connectionStatusMessage}}</span>
    </div>
    <div *ngIf="conexcionService.formData.connectionStatus === 'ffline'" class="offline">
      <span>{{conexcionService.formData.connectionStatusMessage}}</span>
    </div>
  </div>
  <div class="container-fluid mt-3 mt-sm-4 px-1 px-md-5">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between" id="modal" name="modal">
            <h5>Lista de Ordenes</h5>
          </div>
          <div class="mt-2 px-4 pt-2 boxForm">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon [icon]="fasearch"></fa-icon>
                </span>
              </div>
              <div style="width: 96%;" class="row justify-content-center text-center">
                <div class="col-12 col-sm-6 pr-0 pr-sm-1" [ngClass]="{'col-sm-12':conexcionService.UserR.rolAsignado!='verificador-m'&&conexcionService.UserR.rolAsignado!='bodega_verificador-m'}">
                  <input type="text" class="form-control" name="filtroOrden" maxlength="10" placeholder="Buscar.."
                  [(ngModel)]="filtroOrden">
                </div>
                <div class="col-6 col-sm-3 pr-0">
                  <a *ngIf="conexcionService.UserR.rolAsignado=='verificador-m'|| conexcionService.UserR.rolAsignado=='bodega_verificador-m'" (click)="onChangeBusqueda(1)"
                  class="input-group-text btn d-block" [ngClass]="{'act':btnVerificacion}">Pendiente Verificación</a>
                </div>
                <div class="col-6 col-sm-3 px-0">
                  <a *ngIf="conexcionService.UserR.rolAsignado=='verificador-m' || conexcionService.UserR.rolAsignado=='bodega_verificador-m'" (click)="onChangeBusqueda(2)"
                  class="input-group-text btn d-block" [ngClass]="{'act':!btnVerificacion}">Pendiente Retorno</a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="table-responsive" style="border: 1px solid #dddddd; padding-top: 2px;">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th>#</th>
                    <th>{{strES}}</th>
                    <th>Documentación</th>
                    <th>
                      <div class="d-inline-block" style="margin-right: 0.5rem;">Persona</div>
                      <div id="ordenarS" class="d-inline-block">
                        <a class="badge text-dark2" (click)="onOrdenNombre()">
                          <fa-icon [icon]="sort"></fa-icon>
                        </a>
                      </div>
                    </th>
                    <th>Fecha Registro</th>
                    <th>Descripción</th>
                    <th>Estado Proceso</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="listOrdenesMostrar| search:filtroOrden:'cOrdenES' as resultBusquedaMostrar">
                  <div style="display: none;">{{getDataFiltro(resultBusquedaMostrar.length)}}</div>
                  <tr *ngIf="resultBusquedaMostrar.length==0">
                    <td class="font-italic text-center" colspan="8">
                      No existen ordenes registradas con esos parámetros de busqueda
                    </td>
                  </tr>
                  <tr *ngIf="spinnerOnOff">
                    <td class="text-center" colspan="8">
                      <div class="d-flex justify-content-center">
                        <mat-spinner color="accent"></mat-spinner>
                      </div>
                    </td>
                  </tr>
                  <tr
                    *ngFor="let dato of resultBusquedaMostrar  |sort:ordenNombre:'cOrdenES' | slice:paginacion.startIndex:paginacion.endIndex; let indice=index"
                    [ngClass]="{'filaPar':(((indice+1)%2)==0)}">
                    <td class="indice">{{indice+1}}</td>
                    <td *ngIf="strES=='Entrada'">A {{dato.planta}} desde {{dato.destinoProcedencia}}</td>
                    <td *ngIf="strES=='Salida'">De {{dato.planta}} para {{dato.destinoProcedencia}}</td>
                    <td>{{dato.numDocumentacion}}</td>
                    <td><strong>{{dato.persona.nombreP}}</strong></td>
                    <td>{{dato.fechaRegistro}} {{dato.horaRegistro}}</td>
                    <td>
                      <div *ngFor="let datoItems of dato.listArticulosO; let indice2=index">
                        <ul id="utilitarioI" *ngIf="conexcionService.UserR.rolAsignado!='verificador-m'&&conexcionService.UserR.rolAsignado!='bodega_verificador-m'">
                          <input type="checkbox" name="int{{indice+selectPagination*pagActualIndex}}check{{indice2}}"
                            #int{{indice+selectPagination*pagActualIndex}}check{{indice2}}="ngModel"
                            [(ngModel)]="datoItems.checkRevision"
                            [disabled]="datoItems.estadoProducto=='Procesada'|| datoItems.estadoProducto=='Pendiente Retorno'"
                            (change)="onCambiarPage=false">
                          {{datoItems.cantidad}} {{datoItems.producto?.nombre}} {{datoItems.inventario?.nombre}}|| {{datoItems.observacion}}
                        </ul>
                        <ul id="utilitarioI" *ngIf="conexcionService.UserR.rolAsignado=='verificador-m'||conexcionService.UserR.rolAsignado=='bodega_verificador-m'">
                          <input type="checkbox" name="int{{indice+selectPagination*pagActualIndex}}check{{indice2}}"
                            #int{{indice+selectPagination*pagActualIndex}}check{{indice2}}="ngModel"
                            [(ngModel)]="datoItems.checkRevision" [disabled]="!btnVerificacion"
                            (change)="onCambiarPage=false">
                          {{datoItems.cantidad}} {{datoItems.producto?.nombre}} {{datoItems.inventario?.nombre}}
                        </ul>
                      </div>
                    </td>
                    <td>{{dato.estadoProceso}}</td>
                    <td class="text-center" id="utilitarioI">
                      <a *ngIf="dato.destinoProcedencia!='P MANACRIPEX' && (((conexcionService.UserR.rolAsignado=='verificador-m'||conexcionService.UserR.rolAsignado=='bodega_verificador-m')&& btnVerificacion)||(dato.destinoProcedencia!='OFICINAS'&& (conexcionService.UserR.rolAsignado!='verificador-m'&&conexcionService.UserR.rolAsignado!='bodega_verificador-m')))"
                        class="badge text-primario" matTooltip="Te permite guardar los datos orden seleccionada"
                        matTooltipPosition="left" matTooltipClass="tooltipBlack" (click)="onsave(dato)">
                        <fa-icon [icon]="fasave" size="2x"></fa-icon>
                      </a>
                      <a *ngIf="(conexcionService.UserR.rolAsignado=='verificador-m'||conexcionService.UserR.rolAsignado=='bodega_verificador-m') && btnVerificacion"
                        class="badge text-primario" matTooltip="Te permite subir archivos" matTooltipPosition="left"
                        matTooltipClass="tooltipBlack" (click)="onImagenBotton(indice)">
                        <fa-icon [icon]="faFileUpload" size="2x"></fa-icon></a>
                        <input type="file" id="newFiles{{indice}}" class="d-none" style="color: transparent" accept="image/png, image/jpeg"
                        (change)="onUpload(dato, $event.target.files)">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="paginationPadre mt-2" *ngIf="listOrdenesMostrar!=null">
              <nav>
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <select class="form-control" (change)="onUpdateSelect($event.target)">
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </li>
                  <li class="page-item" [class.disabled]='paginacion.anteriorBlock'>
                    <a class="page-link d-none d-sm-block" (click)="paginacion.updateIndex(paginacion.pagActualIndex-1)">Anterior</a>
                    <a class="page-link d-block d-sm-none" (click)="paginacion.updateIndex(paginacion.pagActualIndex-1)">
                      <fa-icon [icon]="faArLeft"></fa-icon>
                    </a>
                  </li>
                  <li *ngFor="let i of paginacion.pagTotal; let numpage=index" class="page-item"
                    [ngClass]="{'act':i.valorB, 'ocultar':i.mostrar}">
                    <a class="page-link mas" (click)="paginacion.updateIndex(numpage)">{{numpage+1}}</a></li>
                  <li class="page-item " [class.disabled]='paginacion.siguienteBlock'>
                    <a class="page-link d-none d-sm-block" (click)="paginacion.updateIndex(paginacion.pagActualIndex+1)">Siguiente</a>
                    <a class="page-link d-block d-sm-none" (click)="paginacion.updateIndex(paginacion.pagActualIndex+1)">
                      <fa-icon [icon]="faArRight"></fa-icon>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
