<div class="jumtron">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-11">
      <h1 class="display-4 text-center">Whatsapp Test</h1>
    </div>
  </div>
</div>
<section class="dashboard-header">
  <div class="container-fluid  mt-3 mt-sm-4 px-1 px-md-5">

    <div class="row boxForm align-items-center justify-content-center mb-4" style="height: 45%;">
      <div class="col-12 col-md-6">
        <a (click)="onClickMessage()" class="btn bttn-Primario btn-block">
          Solo Mensaje
        </a>
      </div>
      <div class="col-12 col-md-6">
        <a (click)="onClickMessageMedia()" class="btn bttn-Primario btn-block">
          Mensaje Media
        </a>
      </div>
    </div>
    <div class="row boxForm align-items-center justify-content-center" style="height: 45%;">
      <div class="col-12 col-md-6" >
        <a (click)="onClickGroupMessageMedia()" class="btn bttn-Primario btn-block">
         Group Media
        </a>
      </div>
    
    </div>


  </div>
</section>
