<nav class="side-navbar mCustomScrollbar" [ngClass]="{'mCS_no_scrollbar':tooglebtn, 'shrink show-sm':!tooglebtn}"
  *ngIf="conexcionService.UserR!=null">
  <div class="sidenav-header d-flex align-items-center justify-content-center">
    <div class="sidenav-header-inner text-center"><img src="/assets/img/logo2.png" class="img-fluid">
      <h2 class="h5">{{conexcionService.UserR.userName}}</h2><span>{{conexcionService.UserR.rolAsignado}}</span>
    </div>
    <div>
      <a [routerLink]='["/OrdenSupervisor"]' class="brand-small text-center"><strong>B&B</strong></a>
    </div>
  </div>
  <div class="main-menu"
    *ngIf="conexcionService.UserR.rolAsignado=='admin' || conexcionService.UserR.rolAsignado=='gpv-o' || conexcionService.UserR.rolAsignado=='gv-m' || conexcionService.UserR.rolAsignado=='tinabg-m'">
    <ul class="side-menu list-unstyled">
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/OrdenSupervisor"]'>
          <fa-icon [icon]="fatasks"></fa-icon> Orden E/S
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='admin'">
        <a [routerLink]='["/VehiculosList"]'>
          <fa-icon [icon]="facar"></fa-icon> Vehículos
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='admin'">
        <a [routerLink]='["/PersonalList"]'>
          <fa-icon [icon]="fausers"></fa-icon> Personal
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='admin'">
        <a [routerLink]='["/ProductosList"]'>
          <fa-icon [icon]="fatools"></fa-icon> Productos
        </a>
      </li>
    </ul>
  </div>
  <div class="admin-menu"
    *ngIf="conexcionService.UserR.rolAsignado=='tinabg-m' || conexcionService.UserR.rolAsignado=='enfermeria' ||conexcionService.UserR.rolAsignado=='bodega_verificador-m' || conexcionService.UserR.rolAsignado=='gpv-o'">
    <h5 class="sidenav-heading">Menú Inventario</h5>
    <ul class="list-unstyled">
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Bodega/comprasInv"]'>
          <fa-icon [icon]="fashoppingCart"></fa-icon> Gestión Compras
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Bodega/inventarioList"]'>
          <fa-icon *ngIf="conexcionService.UserR.rolAsignado!='enfermeria'" [icon]="faboxes"></fa-icon>
          <fa-icon *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'" [icon]="fakitmedical"></fa-icon> Inventario
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado!='enfermeria'">
        <a [routerLink]='["/Bodega/reportes"]'>
          <fa-icon [icon]="faboxes"></fa-icon> Reportes
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado!='gpv-o'">
        <a [routerLink]='["/Bodega/controlBodega"]'>
          <fa-icon [icon]="fadollyflatbed"></fa-icon> Control Bodega
        </a>
      </li>
      <li [routerLinkActive]="['active']" >
        <a [routerLink]='["/Bodega/trabajosInter"]'>
          <fa-icon [icon]="fatasks"></fa-icon> Trabajos Internos
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='gpv-o'">
        <a [routerLink]='["/Bodega/newTraspasoInter"]'>
          <fa-icon [icon]="faexchange"></fa-icon> Traspaso Bodega
        </a>
      </li>
    </ul>
  </div>
  <div class="admin-menu" *ngIf="conexcionService.UserR.rolAsignado=='verificador-medic'">
    <h5 class="sidenav-heading">Menú Inventario</h5>
    <ul class="list-unstyled">
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Bodega/inventarioList"]'>
          <fa-icon [icon]="fakitmedical"></fa-icon> Inventario
        </a>
      </li>
    </ul>
  </div>
  <div class="admin-menu" *ngIf="conexcionService.UserR.rolAsignado=='verificador-bodeguero'|| conexcionService.UserR.rolAsignado=='verificador-bodeguero-b'">
    <h5 class="sidenav-heading">Menú Inventario</h5>
    <ul class="list-unstyled">
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Bodega/inventarioList"]'>
          <fa-icon [icon]="fakitmedical"></fa-icon> Inventario
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Bodega/trabajosInter"]'>
          <fa-icon [icon]="fatasks"></fa-icon> Trabajos Internos
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Bodega/newTrabajosInter"]'>
          <fa-icon [icon]="fatasks"></fa-icon> Orden Trabajo
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado!='verificador-bodeguero-b'">
        <a [routerLink]='["/Bodega/newTraspasoInter"]'>
          <fa-icon [icon]="faexchange"></fa-icon> Traspaso Bodega
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.nombreU=='FERNANDA MORALES'">
        <a [routerLink]='["/Bodega/compras"]'>
          <fa-icon [icon]="fashoppingCart"></fa-icon> Compra Proveedor
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.nombreU=='FERNANDA MORALES'">
        <a [routerLink]='["/Bodega/comprasInv"]'>
          <fa-icon [icon]="fashoppingCart"></fa-icon> Gestión Compras
        </a>
      </li>
    </ul>
  </div>
  <div class="admin-menu" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'||conexcionService.UserR.rolAsignado=='verificador-medic'">
    <h5 class="sidenav-heading">Enfermería</h5>
    <ul class="list-unstyled">
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='verificador-medic'">
        <a [routerLink]='["/Bodega/consulta"]'>
          <fa-icon [icon]="fabookmedical"></fa-icon> Entregar Medicamento
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Bodega/consumoList"]'>
          <fa-icon [icon]="faprescription"></fa-icon> Consumos de Medicamento
        </a>
      </li>
      <!-- <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'">
        <a [routerLink]='["/Bodega/accidente"]'>
          <fa-icon [icon]="facarcrash"></fa-icon> Accidente
        </a>
      </li> -->
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'">
        <a [routerLink]='["/Medicina/fichaMedica"]'>
          <fa-icon [icon]="faidcardalt"></fa-icon> Ficha Médica
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'">
        <a [routerLink]='["/Medicina/permisoMedico"]'>
          <fa-icon [icon]="fafilemedical"></fa-icon> Permiso
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'">
        <a [routerLink]='["/Medicina/list_permisosGeneral"]'>
          <fa-icon [icon]="fabookmedical"></fa-icon> Historial Permisos
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'">
        <a [routerLink]='["/Medicina/atencionList"]'>
          <fa-icon [icon]="fabookmedical"></fa-icon> Historial Atenciones
        </a>
      </li>
      
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'">
        <a [routerLink]='["/Bodega/crearMedicamento"]'>
          <fa-icon [icon]="falaptopmedic"></fa-icon> Crear Medicamentos
        </a>
      </li>
    </ul>
  </div>
  <div class="admin-menu" *ngIf="conexcionService.UserR.rolAsignado=='tinabg-m'">
    <h5 class="sidenav-heading">Menú Tinas</h5>
    <ul class="list-unstyled">
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Tina/movTinas"]'>
          <fa-icon [icon]="fadolly"></fa-icon> Gestión Tinas
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Tina/BaldesList"]'>
          <fa-icon [icon]="faboxes"></fa-icon> Tinas
        </a>
      </li>
    </ul>
  </div>
  <div class="admin-menu" *ngIf="conexcionService.UserR.rolAsignado=='pedido-flota'||conexcionService.UserR.rolAsignado=='pedido-planta'||conexcionService.UserR.rolAsignado=='pedido-super'">
    <ul class="list-unstyled">
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Pedido/Orden"]'>
          <fa-icon [icon]="facartarrow"></fa-icon> Pedido Orden
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Pedido/PedidosList"]'>
          <fa-icon [icon]="faclipboardList"></fa-icon> Lista Pedidos
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]='["/Pedido/VerificacionPedido"]'>
          <fa-icon [icon]="faclipboardCheck"></fa-icon> Verificación
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="(conexcionService.UserR.nombreU=='CARLOS CEBALLOS'||conexcionService.UserR.nombreU=='JORGE SALAME' ||conexcionService.UserR.nombreU=='CARLOS LOPEZ' || conexcionService.UserR.nombreU=='PRUEBAG')">
        <a [routerLink]='["/Pedido/AprobacionPedido"]'>
          <fa-icon [icon]="faclipboardCheck"></fa-icon> Aprobar Pedido
        </a>
      </li>
    </ul>
  </div>
  <div class="admin-menu">
    <h5 class="sidenav-heading">Menú Extra</h5>
    <ul class="list-unstyled">
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'">
        <a [routerLink]='["/Medicina/reportes"]'>
          <fa-icon [icon]="faheartbeat"></fa-icon> Reportes Médicos
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'||conexcionService.UserR.rolAsignado=='gpv-o'">
        <a [routerLink]='["/Bodega/medicamentoCaducado"]'>
          <fa-icon [icon]="fapills"></fa-icon> Reporte Caducidad
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='admin'||conexcionService.UserR.rolAsignado=='gpv-o'">
        <a [routerLink]='["/TanquesAGua/listTanqueros"]'>
          <fa-icon [icon]="fawater"></fa-icon> Reporte Tanque
        </a>
      </li>
      <li [routerLinkActive]="['active']"
        *ngIf="conexcionService.UserR.rolAsignado=='gpv-o' || conexcionService.UserR.rolAsignado=='gv-m'|| conexcionService.UserR.rolAsignado=='tinabg-m'">
        <a [routerLink]='["/Entrada-Salida"]'>
          <fa-icon [icon]="faexchangeAlt"></fa-icon> Entrada / Salida
        </a>
      </li>
      <li [routerLinkActive]="['active']"
        *ngIf="conexcionService.UserR.rolAsignado=='gpv-o' || conexcionService.UserR.rolAsignado=='bodega_verificador-m'||conexcionService.UserR.rolAsignado=='gv-m'">
        <a [routerLink]='["/Verificador"]'>
          <fa-icon [icon]="faclipboardCheck"></fa-icon> Verificación
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='verificador-medic'"> <a
          [routerLink]='["/Bodega/verificacion"]'>
          <fa-icon [icon]="faclipboardCheck"></fa-icon> Recepción de Medicamento
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='enfermeria'||conexcionService.UserR.rolAsignado=='verificador-medic'">
        <a [routerLink]='["/Bodega/solicitarMedicamento"]'>
          <fa-icon [icon]="fasquareplus"></fa-icon> {{conexcionService.UserR.rolAsignado == 'enfermeria'? 'Solicitar Medicamento' : 'Diferencia de Medicamento'}}
        </a>
      </li>
      <li [routerLinkActive]="['active']"
        *ngIf="conexcionService.UserR.rolAsignado=='gpv-o'|| conexcionService.UserR.rolAsignado=='enfermeria'|| conexcionService.UserR.rolAsignado=='tinabg-m'||conexcionService.UserR.rolAsignado=='bodega_verificador-m'||(conexcionService.UserR.rolAsignado=='verificador-bodeguero'&&conexcionService.UserR.nombreU=='FERNANDA MORALES' )">
        <a [routerLink]='["/BuscarFactura"]'>
          <fa-icon [icon]="faexchangeAlt"></fa-icon> Buscar Factura
        </a>
      </li>
      <li [routerLinkActive]="['active']"
        *ngIf="conexcionService.UserR.rolAsignado=='verificador-bodeguero'||conexcionService.UserR.rolAsignado=='verificador-bodeguero-b'">
        <a [routerLink]='["/Bodega/inventGroup"]'>
          <fa-icon [icon]="faobjerctunicion"></fa-icon> Agrupar inventario
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='gpv-o'">
        <a [routerLink]='["/Bodega/consumoList"]'>
          <fa-icon [icon]="faprescription"></fa-icon> Consumos de Medicamento
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='gpv-o'||conexcionService.UserR.rolAsignado=='admin'|| conexcionService.UserR.rolAsignado=='tinabg-m'">
        <a [routerLink]='["/List-bodegas"]'>
          <fa-icon [icon]="fagarage"></fa-icon> Bodegas
        </a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='admin'"> <a
          [routerLink]='["/registrar"]'>
          <fa-icon [icon]="fauserplus"></fa-icon> Registrar Usuario
        </a>
      </li>
      <li [routerLinkActive]="['active']"
      *ngIf="conexcionService.UserR.rolAsignado=='tinabg-m'||conexcionService.UserR.rolAsignado=='pedido-super'||(conexcionService.UserR.rolAsignado=='pedido-flota'&& conexcionService.UserR.nombreU == 'JORGE SALAME' )">
      <a [routerLink]='["/List-proveedor"]'>
        <fa-icon [icon]="fausertag"></fa-icon> Proveedores
      </a>
    </li>
    <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='admin'"> <a
      [routerLink]='["/TanquesAGua/subirExcel"]'>
      <fa-icon [icon]="faucet"></fa-icon> Registrar Tanqueros Agua
    </a>
  </li>
      <!-- <li [routerLinkActive]="['active']" *ngIf="conexcionService.UserR.rolAsignado=='pedido-flota'">
        <a [routerLink]='["/Pedido/Reporte"]'>
          <fa-icon [icon]="fachartLine"></fa-icon> Reportes
        </a>
      </li> -->
    </ul>
  </div>
</nav>

<div class="page" [ngClass]="{'active active-sm':!tooglebtn}" *ngIf="conexcionService.UserR!=null">
  <nav class="navbar px-0"  *ngIf="conexcionService.UserR.rolAsignado!=null">
    <div class="container-fluid">
      <div class="navbar-holder d-flex align-items-center justify-content-between">
        <div>
          <a id="toggle-btn" class="menu-btn" (click)="tooglebtn=!tooglebtn">
            <fa-icon [icon]="fabars"></fa-icon>
          </a>
          <a [routerLink]='["/OrdenSupervisor"]' class="navbar-brand">
            <div class="brand-text d-none d-sm-inline-block">
              <span>Grupo</span><strong class=""> Buehs</strong>
            </div>
          </a>
        </div>
        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
          <li><a class="nav-link disabled"> <span
                class="d-none d-sm-inline-block mr-1">O{{conexcionService.formData.connectionStatus}}</span>
              <fa-icon [icon]="facircle"
                [ngClass]="{'iconOnline':conexcionService.formData.connectionStatus==='nline', 'iconOffline':conexcionService.formData.connectionStatus!=='nline' }">
              </fa-icon>
            </a>
          </li>
          <!-- Notifications dropdown-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="nav-link">
              <fa-icon [icon]="fabell"></fa-icon><span class="badge badge-warning">{{listNotificacion.length}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menuNav">
              <li *ngFor="let datoListN of listNotificacion; let indiceN=index">
                <a class="dropdown-item">
                  <div class="notification d-flex justify-content-between">
                    <div>
                      <fa-icon [icon]="faenvelope"> </fa-icon> {{datoListN.tipoNotificacion}}
                    </div>
                    <div><small>{{datoListN.fechaCreacion}}</small></div>
                  </div>
                  <div class="notification">
                    <div class="notification-descripcion"> {{datoListN.descripcion}} </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Log out-->
          <li>
            <a class="nav-link" (click)="logOut()"> <span class="d-none d-sm-inline-block mr-1">Salir</span>
              <fa-icon [icon]="fasignOut"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    *ngIf="conexcionService.formData.connectionStatus === 'nline' && conexcionService.formData.connectionStatusMessage !==''"
    class="online" >
    <span>{{conexcionService.formData.connectionStatusMessage}}</span>
  </div>
  <div *ngIf="conexcionService.formData.connectionStatus == 'ffline'" class="offline">
    <span>{{conexcionService.formData.connectionStatusMessage}}</span>
  </div>
  <router-outlet></router-outlet>
</div>
