<section [ngClass]="{'dashboard-header':!isOpen}">
  <div [ngClass]="{'container-fluid':!isOpen}">
    <div [ngClass]="{'boxCliente pt-1':!isOpen}">
      <form #formOrden="ngForm" autocomplete="off" (submit)="onSubmit(formOrden)">
        <div class="bodyCard" *ngIf="consultaMedicService.formData">
          <div class="row mt-3">
            <div class="col-12 col-md-8">
              <h4 class="text-center">Recopilación datos del Pasciente</h4>
            </div>
            <div class="col-12 col-md-4">
              <input class="form-control" type="date" name="fechaRegistro" #fechaRegistro="ngModel"
                [(ngModel)]="consultaMedicService.formData.fechaRegistro" min="2020-01-01" max="{{fechaHoy.strFecha}}">
            </div>
          </div>
          <div class="row boxForm mt-2">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group" id="selectMaterial">
                <div class="title ml-2">
                  <strong class="ml-3">Pasciente: </strong>
                </div>
                <div id="inputSearchP">
                  <div class="wrapper">
                    <div class="limit-width">
                      <input name="pacienteIn" #pacienteIn="ngModel"
                        [(ngModel)]="consultaMedicService.formData.paciente"
                        (ngModelChange)="onListPasciente($event?.toUpperCase())" maxlength="100"
                        placeholder="Nombre de la Persona" class="form-control input-src"
                        [ngClass]="{'loading':consultaMedicService.formData.spinnerLoading}" required>
                      <div class="results" *ngIf="consultaMedicService.formData.showSearchSelect">
                        <ul>
                          <li *ngFor="let data of listPacienteFiltros$ | async">
                            <a (click)="onChoosePaciente(data.empleado)" class="name">{{data.empleado}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" *ngIf="conexcionService.UserR.rolAsignado == 'verificador-medic'">
              <div class="form-group">
                <div class="title ml-2">
                  <strong class="ml-3">Marea:</strong>
                </div>
                <div id="inputSearchP">
                  <div class="wrapper">
                    <div class="limit-width">
                      <input name="marea" #marea="ngModel" type="number"
                        [(ngModel)]="consultaMedicService.formData.marea" required
                        onkeydown="return (event.keyCode !== 190 && event.keyCode !== 69 && event.keyCode!==107 && event.keyCode !==109 && event.keyCode !== 110 && event.keyCode !== 188 && (this.value.length<=20 || event.keyCode==8 || event.keyCode==37 || event.keyCode==39))"
                        class="form-control  input-src" placeholder="Solo Número" matTooltip="Campo Obligatorio*"
                        [datoAutoFocus]="autoFocus" matTooltipPosition="above" matTooltipClass="tooltipRed"
                        [matTooltipDisabled]="true">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <div class="title ml-2">
                  <strong class="ml-3">Responsable de Entrega Medicamento: </strong>
                </div>
                <div id="inputSearchP">
                  <div class="wrapper">
                    <div class="limit-width">
                      <input name="ResponsableEntrega" #ResponsableEntrega="ngModel" required
                        [(ngModel)]="consultaMedicService.formData.personaResponsable" class="form-control input-src"
                        (ngModelChange)="consultaMedicService.formData.personaResponsable = $event?.toUpperCase()"
                        placeholder="Nombre de la Persona">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 " [ngClass]="{'col-lg-4':conexcionService.UserR.rolAsignado == 'enfermeria', 'col-lg-12':conexcionService.UserR.rolAsignado == 'verificador-medic'}">
              <div class="form-group">
                <div class="title ml-2">
                  <strong class="ml-3">Síntomas del Paciente: </strong>
                </div>
                <div id="inputSearchP">
                  <div class="wrapper">
                    <div class="limit-width">
                      <textarea name="sintomas" #sintomas="ngModel" required
                        [(ngModel)]="consultaMedicService.formData.sintomas" class="form-control input-src"
                        (ngModelChange)="consultaMedicService.formData.sintomas = $event?.toUpperCase()"
                        placeholder="Descipción de las anomalías del paciente"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card" style="height: 380px;">
                <div class="card-header boxForm d-flex justify-content-between">
                  <h5 class="text-dark2" style="padding-top: 9px;">Lista de Medicamento</h5>
                  <a [routerLink] (click)="onNewItem()" class="btn bttn-Primario btn-sm"
                    [ngClass]="{'bttn-Error':!okAddNewBotton }"
                    matTooltip="No se puede añadir material si existen campos vacios" matTooltipPosition="left"
                    matTooltipClass="tooltipRed" [matTooltipDisabled]="okAddNewBotton">
                    <fa-icon [icon]="faplus"></fa-icon> Añadir
                  </a>
                </div>
                <div class="table-responsive" style="border: 1px solid #dddddd; padding-top: 2px; height: 100%;">
                  <table class="table">
                    <thead>
                      <tr class="text-center">
                        <th scope="col" style="width:45%;">Producto</th>
                        <th scope="col" style="width:20%;">Cantidad</th>
                        <th scope="col" style="width:30%;">Observación</th>
                        <th scope="col" style="width:5%;"></th>
                      </tr>
                    </thead>
                    <tbody *ngIf="consultaMedicService.formData.listReceta.length>0">
                      <tr
                        *ngFor="let datoListP of consultaMedicService.formData.listReceta | slice:paginacion.startIndex:paginacion.endIndex; let indiceNewP=index"
                        [ngClass]="{'filaPar':(((indiceNewP+1)%2)==0)}">
                        <td id="inputSearchP">
                          <div class="row">
                            <div class="col" style="padding-left: 0.5px; padding-right:0.5px;">
                              <div class="wrapper">
                                <div class="limit-width">
                                  <input
                                    name="in{{indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)}}codigoProducto"
                                    #in{{indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)}}codigoProducto="ngModel"
                                    [(ngModel)]="consultaMedicService.formData.listReceta[indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)].inventario.codigo"
                                    (ngModelChange)="onListProducto(indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex),1,$event?.toUpperCase())"
                                    maxlength="100" placeholder="Código Producto" class="form-control input-src"
                                    [ngClass]="{'loading':datoListP.spinnerLoading}"
                                    [disabled]="datoListP.inventario.disBttnInput==2" required>
                                  <div class="results" *ngIf="datoListP.showSearchSelect==1">
                                    <ul>
                                      <li *ngFor="let data of listProdFiltros$ | async">
                                        <a (click)="onChooseElemente(indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex),1,data)"
                                          class="name">{{data.codigo}}</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col" style="padding-left: 0.5px; padding-right:0.5px;">
                              <div class="wrapper">
                                <div class="limit-width">
                                  <input
                                    name="in{{indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)}}descripcionProducto"
                                    #in{{indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)}}descripcionProducto="ngModel"
                                    [(ngModel)]="consultaMedicService.formData.listReceta[indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)].inventario.nombre"
                                    (ngModelChange)="onListProducto(indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex),2,$event?.toUpperCase())"
                                    maxlength="100" placeholder="Nombre Producto" class="form-control input-src"
                                    [ngClass]="{'loading':datoListP.spinnerLoading}"
                                    [disabled]="datoListP.inventario.disBttnInput==1" required>
                                  <div class="results" *ngIf="datoListP.showSearchSelect==2">
                                    <ul>
                                      <li *ngFor="let data of listProdFiltros$ | async">
                                        <a (click)="onChooseElemente(indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex),2,data)"
                                          class="name">{{data.nombre}}</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td id="inputSearchP">
                          <div class="input-group">
                            <input
                              name="in{{indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)}}cantidad"
                              type="number" min="0" maxlength="10" placeholder="#" class="form-control input-src"
                              onkeydown="return (event.keyCode !== 69 && event.keyCode !==109 && event.keyCode !==107 && (this.value.length<=9 || event.keyCode==8 || event.keyCode==37 || event.keyCode==39))"
                              pattern="^[0-9]{0,12}([.][0-9]{1,3})?$" required
                              #in{{indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)}}cantidad="ngModel"
                              [(ngModel)]="consultaMedicService.formData.listReceta[indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)].cantidad"
                              (ngModelChange)="comprobarNewR()">
                            <span
                              class="input-group-text  input-src span">/{{consultaMedicService.formData.listReceta[indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)].inventario.listBodegaProducto[0]?.disponibilidad}}</span>
                          </div>
                        </td>
                        <td id="inputSearchP">
                          <textarea
                            name="in{{indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)}}observacion"
                            #in{{indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)}}observacion="ngModel"
                            [(ngModel)]="consultaMedicService.formData.listReceta[indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex)].observacion"
                            class="form-control input-src" maxlength="300"
                            placeholder="Ingrese sus observaciones"></textarea>
                        </td>
                        <td class="justify-content-center" id="utilitarioI">
                          <a class="badge text-primario d-block" matTooltip="Sacar de lista" matTooltipPosition="below"
                            (click)="onRemoveNewR(indiceNewP+(paginacion.selectPagination*paginacion.pagActualIndex))">
                            <fa-icon [icon]="fatimes" size="3x"></fa-icon>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="paginationPadre" *ngIf="consultaMedicService.formData.listReceta!=null">
                    <nav>
                      <ul class="pagination justify-content-center">
                        <li class="page-item" [class.disabled]='paginacion.anteriorBlock'>
                          <a class="page-link"
                            (click)="paginacion.updateIndex(paginacion.pagActualIndex-1)">Anterior</a>
                        </li>
                        <li *ngFor="let i of paginacion.pagTotal; let numpage=index" class="page-item"
                          [ngClass]="{'act':i.valorB, 'ocultar':i.mostrar}">
                          <a class="page-link mas" (click)="paginacion.updateIndex(numpage)">{{numpage+1}}</a></li>
                        <li class="page-item" [class.disabled]='paginacion.siguienteBlock'>
                          <a class="page-link"
                            (click)="paginacion.updateIndex(paginacion.pagActualIndex+1)">Siguiente</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row boxForm mt-2 justify-content-center">
            <div class="col-6 mb-2 px-4">
              <button class="btn bttn-Primario btn-block " type="submit" [disabled]="formOrden.invalid || !okBttnSubmit"
                [ngClass]="{'bttn-Error':!okBttnSubmit }" matTooltip="Campos Vacios Revisar*" matTooltipPosition="above"
                matTooltipClass="tooltipRed" [matTooltipDisabled]="okBttnSubmit">
                <fa-icon [icon]="fasave"></fa-icon> Procesar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
