<section class="dashboard-header">
  <div class="container-fluid  mt-3 mt-sm-4 px-1 px-md-5">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 py-2">
        <div class="card">
          <div id="ordenarS" class="card-header d-flex justify-content-between">
            <h5><a class="text-dark2">Compras No Efectuadas</a></h5>
          </div>
          <div class="mt-2 px-4 pt-2 boxForm">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4" *ngIf="conexcionService.UserDataToken.role != 'enfermeria'">
                <div class="form-group">
                  <div class="title ml-2">
                    <strong class="ml-3">Proveedor:</strong>
                  </div>
                  <div id="inputSearchP">
                    <div class="wrapper">
                      <div class="limit-width">
                        <input name="proveedor" #proveedor="ngModel" [(ngModel)]="selectProveedor"
                          (ngModelChange)="onBListProgProveedor($event.toUpperCase())" maxlength="255"
                          placeholder="Proveedor" class="form-control" [ngClass]="{'loading':spinnerLoading}" required>
                        <div class="results" *ngIf="showSearchSelect">
                          <ul>
                            <li *ngFor="let data of listProveedoresFiltros$ | async">
                              <a (click)="onChooseProveedor(data)" class="name">{{data.proveedor}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="form-group inputForm">
                  <div class="title"><strong> Desde:</strong></div>
                  <input name="fechaDesde" type="date" #fechaDesde="ngModel" [(ngModel)]="fechaHoy.inDesde"
                    class="form-control" min="1900-01-01" max="{{fechaHoy.inHasta}}">
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="form-group inputForm">
                  <div class="title"><strong>Hasta:</strong></div>
                  <input name="fechaHasta" type="date" #fechaHasta="ngModel" [(ngModel)]="fechaHoy.inHasta"
                    class="form-control" min="{{fechaHoy.inDesde}}" max="{{fechaHoy.strFecha}}">
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-2  offset-md-3  offset-lg-0 mb-2">
                <a [routerLink] (click)="onBuscarFacturas()" class="btn bttn-Primario btn-block mt-md-4">
                  <fa-icon [icon]="fasearch"></fa-icon> Buscar
                </a>
              </div>
            </div>
          </div>
          <div class="text-center my-3" *ngIf="spinnerOnOff==1">
            <div class="d-flex justify-content-center">
              <mat-spinner color="accent"></mat-spinner>
            </div>
          </div>
          <div *ngIf="(listComprasMostrar$ | async)  as resultBusquedaMostrar">
            <div class="table-responsive" style="border: 1px solid #dddddd; padding-top: 2px;">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th>#</th>
                    <th>RUC</th>
                    <th>Proveedor</th>
                    <th>Factura</th>
                    <th>Fecha Emisión</th>
                    <th>Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <div style="display: none;">{{getDataFiltro(resultBusquedaMostrar)}}</div>
                  <tr *ngIf="resultBusquedaMostrar.length==0">
                    <td class="font-italic text-center" colspan="8">
                      No existen compras registradas con esos parámetros
                    </td>
                  </tr>
                  <tr
                    *ngFor="let dato of resultBusquedaMostrar; let indice=index"
                    [ngClass]="{'filaPar':(((indice+1)%2)==0)}">
                    <td class="indice">{{indice+1}}</td>
                    <td>{{dato.crp_proveedor}}</td>
                    <td>{{dato.rs_proveedor}}</td>
                    <td>{{dato.factura}}</td>
                    <td>{{dato.emi_fecha}}</td>                    
                    <td>
                      <div *ngFor="let datoItems of dato.listCompraO">
                        <ul id="utilitarioI">
                          <li>{{datoItems.cantidad}} {{datoItems.descripcion}}</li>
                        </ul>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
